:root {
  --mainColor: #606b56;
  --secondaryColor: #515a48;

  --borderColor: #161914;

  --mainText: #fff;
  --secondary: #eeeeee;

  --link: #17a2b8;
  --red: #fc6058;
  --yellow: #fec02f;
  --green: #2aca3e;

  --theme-border: #ffffff;

  --blue-mode: #192734;
  --green-mode: #78866b;
  --purple-mode: #7e4c74;

  --previewBg: rgb(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;

  --deepShade: #ffffff;
  --buttonColor: #669966;
}
