:root {
  --mainColor: #46344e;
  --secondaryColor: #382a3f;

  --borderColor: #1d1520;

  --mainText: #fff;
  --secondary: #eeeeee;

  --link: #17a2b8;
  --red: #fc6058;
  --yellow: #fec02f;
  --green: #2aca3e;

  --theme-border: #ffffff;

  --blue-mode: #192734;
  --green-mode: #78866b;
  --purple-mode: #7e4c74;

  --previewBg: rgb(29, 21, 32, 0.8);
  --previewShadow: #2b202f;

  --deepShade: #ffffff;
  --buttonColor: #8534a3;
}
